
@font-face {
  font-family: 'MontserratVH05-Regular';
  src: url('MontserratVH05-Regular.eot?#iefix') format('embedded-opentype'),  url('MontserratVH05-Regular.woff') format('woff'), url('MontserratVH05-Regular.ttf')  format('truetype'), url('MontserratVH05-Regular.svg#MontserratVH05-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
