@font-face {
  font-family: 'Montserrat_test0-Regular';
  src: url('../fonts/Montserrat_test0-Regular.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Montserrat_test0-Regular.woff') format('woff'), 
        url('../fonts/Montserrat_test0-Regular.ttf') format('truetype'), 
        url('../fonts/Montserrat_test0-Regular.svg#Montserrat_test0-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat_test0-Bold';
  src: url('../fonts/Montserrat_test0-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_test0-Bold.woff') format('woff'), 
        url('../fonts/Montserrat_test0-Bold.ttf') format('truetype'), 
        url('../fonts/Montserrat_test0-Bold.svg#Montserrat_test0-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
