@font-face {
  font-family: 'Montserrat_am1-Regular';
  src: url('../fonts/Montserrat_am1-Regular.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Montserrat_am1-Regular.woff') format('woff'), 
        url('../fonts/Montserrat_am1-Regular.ttf') format('truetype'), 
        url('../fonts/Montserrat_am1-Regular.svg#Montserrat_am1-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat_am1-Bold';
  src: url('../fonts/Montserrat_am1-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_am1-Bold.woff') format('woff'), 
        url('../fonts/Montserrat_am1-Bold.ttf') format('truetype'), 
        url('../fonts/Montserrat_am1-Bold.svg#Montserrat_am1-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
